
import pickle
import os.path
import numpy as np
import matplotlib.pyplot as plt
from imutils import paths
import tensorflow as tf
tf.test.gpu_device_name()
from sklearn.model_selection import train_test_split
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers.convolutional import Conv2D, MaxPooling2D
from tensorflow.python.keras.layers.core import Flatten, Dense
import cv2
import pandas as pd
from mlxtend.data import loadlocal_mnist
from tensorflow.keras.models import load_model